@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Dosis&family=Libre+Baskerville:ital@1&display=swap');
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
  cursor: pointer;
}
nav h1 {
  color: white ;
  font-family: "dancing script", sans-serif ;
  font-size: 30px;
}
nav .onglets {
  margin-top: 3px;
  margin-left: 300px;

}
nav .onglets a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  border-bottom: 0.5px solid rgb(131, 131, 221);
  padding-bottom: 5px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: rgb(96, 96, 245);
}


.alert  {
  text-align: center;
  padding: 70px;
  font-size: medium;
}

.alert p {
  font-weight: bold;
  font-size: 2rem;
}
#carousel {
  width: 50%;
  margin:0 auto;
  margin-top: 120px;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.main {
  padding: 30px;
}

h2 {
  padding: 30px;
  text-decoration-line: underline;
}

footer {
  margin-top: 40px;
  border-top: 2px solid black;
  background-color: rgb(131, 131, 221);
  color: white;
  padding: 30px 100px;
}

footer h3 {
  font-family: "Dosis", sans-serif;
  border-bottom: 1px solid white;
  width: 10%;
  padding-bottom: 5px;
}

footer .services {
  margin-top: -10px;
  display: flex;
  flex-wrap: wrap;
}

footer .services .service {
  margin-right: 30px;
  padding: 10px;

}

footer .services .service p {
  max-width: 300px;
}
  
@media screen and (max-width: 680px) {
  .navbar-brand {
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .carousel-item {
    height: 200px;
    width: 100%;
    margin-top: 0px;
  }
  footer {
    padding: 30px;
  }
  .main {
    display: block;
  }
  
  
}

